<div id="diffViewer" class="modal fade form-horizontal"
    >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" aria-label="Close" ng-click="hideDiffViewer()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                   Comparison
                </h4>
            </div>

            <div class="release modal-body" style="max-height:600px;overflow:auto">
                <div id="comparison-viewer"></div>
            </div>
        </div>
    </div>
</div>

